CONTENTFUL_SPACE_ID=''
CONTENTFUL_ACCESS_TOKEN=''
CONTENTFUL_MANAGEMENT_TOKAN=''
GATSBY_ALGOLIA_APP_ID=''
GATSBY_ALGOLIA_SEARCH_KEY=''
GATSBY_BLOGGER_APIKEY=''
GATSBY_BLOGGER_BLOGID=''
GATSBY_GOOGLE_ANALYTICS_MEASUREMENT_ID=''