/* iOS places the subtitle above the title */
ion-card-header.ios {
  display: flex;
  flex-flow: column-reverse;
}

.cardImageTop {
  width: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .cardImageTop {
    width: 100%;
    height: 100%;
  }
}
